@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.splendor-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.splendor-h1,
h2,
.splendor-h2,
h3,
.splendor-h3,
h4,
.splendor-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.splendor-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.splendor-h2 {
  font-size: 2.827rem;
}

h3,
.splendor-h3 {
  font-size: 1.999rem;
}

h4,
.splendor-h4 {
  font-size: 1.414rem;
}

h5,
.splendor-h5 {
  font-size: 1.121rem;
}

h6,
.splendor-h6 {
  font-size: .88rem;
}

small,
.splendor-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  max-width: 100%;
}

/* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

p,
*:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: .25rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem auto 1rem;
  max-width: 48rem;
}

li {
  margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */

h1 {
  padding: 4rem 0 !important;
}

/*  === End gross hack */

p {
  color: #555;
  height: auto;
  line-height: 1.45;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: #ffffff;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}:root{--scrollbarColor: rgba(0, 0, 0,0.6 )}::-webkit-scrollbar-thumb{border-radius:10px;background-color:rgba(0,0,0,0.6)}::-webkit-scrollbar{width:10px;background-color:transparent}.header{margin:0;padding:0;z-index:998;height:150px;background:#efe9e9;display:flex;justify-content:space-between;align-items:center;transition:all 0.3s ease-in-out 0.3s}.header .logo{padding:0;margin:0 0 0 30px;width:200px;height:200px;background-image:url(images/header/logo3.svg);background-repeat:no-repeat;background-border-color:width;background-position:center;background-size:contain;transition:all 0.3s ease-in-out}.header u1{padding:0;margin:0 30px 0 0;width:400px;display:flex;justify-content:space-between;position:center;size:contain;list-style:none}.header u1 li{margin:0;padding:0;font-size:20px;color:#ffffff}.header u1 li a{margin:0;padding:0;text-decoration:none;font-family:'Fira Sans',sans-serif;user-select:none;color:#000000}.header u1 li a::after{content:"";display:block;background:#000000;height:2px;width:0;margin:-5px 0;transition:all 0.3s ease-in-out}.header u1 li a:hover::after{width:100%}.header .mobile-nav-toggle{margin:0;padding:0;display:none;width:60px;height:-60px;margin:0px 30px 0 0;align-content:center;transition:all 0.3s ease-in-out;background:#ffffff}.header .mobile-nav-toggle .button{position:absolute;top:0;bottom:0;right:0;left:0;cursor:pointer}.header .mobile-nav-toggle span,.header .mobile-nav-toggle span::before,.header .mobile-nav-toggle span::after{padding:0;margin:0;content:"";display:block;height:2.5px;width:100%;background:#000000;position:relative;transition:all 0.3s ease-in-out;cursor:pointer}.header .mobile-nav-toggle span .button,.header .mobile-nav-toggle span::before .button,.header .mobile-nav-toggle span::after .button{position:relative;top:0;bottom:0;right:0;left:0;cursor:pointer}.header .mobile-nav-toggle span::before{top:-12px}.header .mobile-nav-toggle span::after{top:10px}.header .mobile-nav-toggle.is-open span{background:transparent}.header .mobile-nav-toggle.is-open span::before{top:0px;transform:rotate(45deg)}.header .mobile-nav-toggle.is-open span::after{top:-2px;transform:rotate(-45deg)}.mobile-nav{margin:0;padding:0;z-index:999;background:white;transform-origin:top;position:fixed;top:80px;width:100vw;transition:all 0.3s ease-in-out;transform:scaleY(0);box-shadow:0 8px 8px rgba(0,0,0,0.2)}.mobile-nav u1{margin:0;padding:0;text-align:center;list-style:none;padding-bottom:5px}.mobile-nav u1 li{padding:0;font-size:20px;margin:0 0 20px}.mobile-nav u1 li a{padding:0;margin:0;text-decoration:none;font-family:'Fire Sans',sans-serif;user-select:none;display:inline-block;color:#000}.mobile-nav u1 li a::after{content:"";display:block;background:#000000;height:2px;width:0;margin:-5px 0;transition:all 0.3s ease-in-out}.mobile-nav u1 li a:hover::after{width:100%}.mobile-nav.is-open{transform:scaleY(100%);box-shadow:0 8px 8px rgba(0,0,0,0.2)}@media screen and (max-width: 550px){.header{position:sticky;top:0;height:80px;background-color:white;box-shadow:0 8px 8px rgba(0,0,0,0.2)}.header .logo{background-image:url(images/header/logo3.svg);height:150px;margin:0 40px 0 0}.header u1{display:none}.header .mobile-nav-toggle{display:flex;position:relative;top:0;bottom:0;right:0;left:0;cursor:pointer}}.postsBanner{height:300px;background-color:#705353;background-position:center;background-size:cover;background-repeat:no-repeat;margin:-200px 0 0;transition:all 0.3s ease-in-out}@media screen and (max-width: 550px){.postsBanner{height:80px;margin:-80px 0 0}}.contact-wrap{margin:0;padding:0;min-height:150px;display:flex;align-items:center;background-color:#3e3e3e;position:relative}.contact-wrap .button{position:absolute;top:0;bottom:0;right:0;left:0;cursor:pointer;overflow:hidden}.contact-wrap .button::after{position:absolute;width:100%;height:300%;border-radius:50%;background-color:#3d2e2e;content:"";display:block;top:0;left:0;transform-origin:center;transform:translate(-50%, -50%) scale(0, 0);transition:all 0.5s ease-in-out}.contact-wrap .button:hover::after{transform:translate(-50%, -50%) scale(2.3, 2)}.contact-wrap .link{padding:0;font-size:20px;color:white;margin:0 auto;z-index:999;pointer-events:none}@media screen and (max-width: 550px){.contact-wrap{min-height:100px}}::selection{background:#FFF498}::-moz-selection{background:#FFF498}img::selection{background:transparent}img::-moz-selection{background:transparent}body{overflow-x:hidden;overflow-y:overlay;-webkit-tap-highlight-color:transparent;background-color:#fff7f7}body .ratio{padding:0;margin:0 auto;position:relative}body .ratio::after{content:"";display:block;padding-top:56.25%}body .ratio iframe{position:absolutre;top:0;right:0;left:0;bottom:0;width:100%;height:100%;margin:0;padding:0}

